*~
patreon-link-insert
patreon-link-insert.exe
patreon-link-insert.o
modern_pascal_introduction.html
modern_pascal_introduction.pdf
modern_pascal_introduction.xml
modern_pascal_introduction_russian.html
modern_pascal_introduction_russian.pdf
modern_pascal_introduction_russian.xml
