*~
*.o
*.ppu
modern_pascal_introduction.html
modern_pascal_introduction.pdf
modern_pascal_introduction.xml
exception_in_constructor_test
interfaces_com_test
interfaces_corba_test
exception_finally
functions_primitives
hello_world
inheritance
myunit_test
