*~
code-samples/*.ppu
code-samples/*.o
modern_pascal_introduction.html
modern_pascal_introduction.pdf
modern_pascal_introduction.xml
code-samples/exception_in_constructor_test
code-samples/interfaces_com_test
code-samples/interfaces_corba_test
code-samples/exception_finally
code-samples/functions_primitives
code-samples/hello_world
code-samples/inheritance
code-samples/myunit_test
code-samples/for_in_list
code-samples/loops
code-samples/records
