*.ppu
*.o
*.exe
callbacks
callbacks_of_object
class_properties
exception_finally
exception_in_constructor_test
file_stream
for_in_list
functions_primitives
gen_guid
generic_functions
generics
generics_dictionary
generics_lists
generics_object_dictionary
generics_sorting
hello_world
inheritance
interface_casting
interfaces_com_test
interfaces_com_with_ref_counting
interfaces_corba_test
is_as
lazarus/showcolor
loops
method_calls_inheritance_1
method_calls_inherited
my_binary_file.data
myunit_test
operator_overloading
operator_overloading_classes
operator_overloading_records
operator_overloading_records_lists
persistent
records
static_class_method
with_virtual_methods
without_virtual_methods
lazarus/*.bak
lazarus/*.lps
lazarus/lib/
